<h1 class="text-center">List of Users Fetched from API and pagination.</h1>
<div  class="row p-4">
  <div *ngFor="let user of users.data;" class="col-sm-4">
    <div class="card">
      <img [src]="user.avatar" height="350px" class="card-img-top img-fluid" alt="users image">
      <div class="card-body">
        <h5 class="card-title text-center">{{user.first_name + " " + user.last_name}}</h5>
        <p class="card-text lead text-center">Id : {{user.id}}</p>
        <p class="card-text lead text-center">Email : {{user.email}}</p>
      </div>
    </div>
  </div>
</div>


<nav style="cursor: pointer;" aria-label="Page navigation">
  <ul id="paginition" class="pagination pagination-lg">
    <li *ngFor="let val of array; let i = index;" (click)="handleFetch(val)"  class="page-item"><a class="page-link" >{{val}}</a></li>
  </ul>
</nav>
